<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>668821910629-21aqqf8lcpf38ns6dlkeaiu0krcebn65.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.668821910629-21aqqf8lcpf38ns6dlkeaiu0krcebn65</string>
	<key>API_KEY</key>
	<string>AIzaSyD0JqERFBQNgiPI3MOQf2WaP8P1ULJgrK8</string>
	<key>GCM_SENDER_ID</key>
	<string>668821910629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PatientVerifi</string>
	<key>PROJECT_ID</key>
	<string>patientverifi</string>
	<key>STORAGE_BUCKET</key>
	<string>patientverifi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668821910629:ios:1bfcbddb8ea563c475828c</string>
</dict>
</plist>